@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

.container .task-box {
  height: 4rem;
  border-radius: 2rem;
  font-size: 2rem;
  border-radius: 2rem 0 0 2rem;
  padding-left: 2rem;
}

.submit-btn {
  background-color: blue;
  width: 5rem;
  height: 4rem;
  border-radius: 0 2rem 2rem 0;
  font-size: 2rem;
  color: white;
  padding-right: .2rem;
}
.submit-btn:hover{
  background-color: #2947bc;
}

.container input:active {
  border: none;
}

.container h1 {
  padding-bottom: 2rem;
}

.task {
  width: 100%;
  height: 5rem;
  background-color: rgb(76, 134, 222);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5rem;
  padding: 2rem;
}

.task p {
  font-size: 2rem;
}

.task .done,
.task .delete {
  width: 3rem;
  height: 3rem;
  background-color: blue;
  border-radius: 100%;
  transition: background-color 0.3s;
}
.task .done:hover,
.task .delete:hover {
  background-color: #203db3;
}
